<% include header %>
  <nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li class="active"><a href="/">主頁</a></li>
    <li><a href="/">上傳</a></li>
    <li><a href="/index">成績管理</a></li>
 
  </ul>  
  </nav>
<h2>404! Page not found.</h2>
<% include footer %>