<% include header %>
  <nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a href="/">主頁</a></li>
    <li><a href="/new-entry">留言</a></li>
    <li><a href="/talk" >留言板</a></li>
    <li class="active"><a href="/about">關於我</a></li>  
  </ul>  
  </nav>
<% include footer %>