<div class="container">
<!-- row 1: navigation -->
    <nav class="row ">
    	<ul class="nav navbar-inverse nav-tabs">
        	<li class="active"><a href="/ele">國小文法</a></li>
        	<li><a href="/jun">國中文法</a></li>  
        </ul>  
    </nav>

    <div class="row">
    	<article class="col-lg-offset-1 col-sm-offset-1 col-lg-8 col-sm-7 col-lg-push-3 col-sm-push-4">
        
        
            <h1>五大基本句型</h1>
            <div class="container">            
  <table style="text-align=center" class="table table-condensed">
    <thead>
      <tr>
        <th>句型</th>
        <th>例句</th>
        <th>解釋</th>
        <th>比較</th>
      </tr>
    </thead>
    <% fesArray.forEach(function (fes) { %>
    <tr>
<td><%= fes.sen %></td>
<td><%= fes.example %></td>
<td><%= fes.explain %></td>
<td><%= fes.compare %></td>
</tr>
<%  
})
%>
  </table>
</div>
                        <!-- nested row 3a: callouts -->
         <!-- end nested row 3a -->
        </article>
        <aside class="col-lg-3 col-sm-4 col-lg-pull-9 col-sm-pull-8">
        <ul class="nav navbar-inverse nav-tabs">
        	<li><a href="/fqw">基本疑問詞</a></li>
        	<li class="active"><a href="/fes">基本句型</a></li>  
        </ul> 
        </aside> 
</div>