<footer style="width: 73%;height:35px; position:absolute;bottom:20px;left:195px;background: #333;"><font face="標楷體" size="5" color="white"><p align="center">Line Bot 網頁管理</p></font></footer>
<script src="/javascript/bootstrap.js"></script>
</body>
</html>