<div class="container">
<!-- row 1: navigation -->
    <nav class="row ">
    	<ul class="nav navbar-inverse nav-tabs">
        	<li><a href="/ele">國小文法</a></li>
        	<li class="active"><a href="/jun">國中文法</a></li>  
        </ul>  
    </nav>

    <div class="row">
    	<article class="col-lg-offset-1 col-sm-offset-1 col-lg-8 col-sm-7 col-lg-push-3 col-sm-push-4">
        
        
            <h1>頻率副詞</h1>
<div class="container">            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>名稱</th>
        <th>%數</th>
        <th>例句</th>
        <th>使用在何處</th>
      </tr>
    </thead>
    <% freArray.forEach(function (fre) { %>
    <tr>
<td><%= fre.name %></td>
<td><%= fre.pa %></td>
<td><%= fre.expamle %></td>
<td><%= fre.where %></td>
</tr>
<%  
})
%>
  </table>
</div>

                        <!-- nested row 3a: callouts -->
         <!-- end nested row 3a -->
        </article>
        <aside class="col-lg-3 col-sm-4 col-lg-pull-9 col-sm-pull-8">
        <ul class="nav navbar-inverse nav-tabs">
        	<li class="active"><a href="/fre">頻率副詞</a></li>
        	<li><a href="/rela">關係代名詞</a></li>
          <li><a href="/relat">關係代名詞表格</a></li>  
        </ul> 
        </aside> 
</div>