<% include header %>
  <nav class="navbar navbar-inverse  ">
  <ul class="nav navbar-nav">
    <li><a href="/">主頁</a></li>
    <li><a href="/">上傳</a></li>
    <li class="active"><a href="/insert" >成績管理</a></li>
        <li><a href="/login">登入</a></li>

  </ul>  
  </nav>
<h2>Line Bot成績管理</h2>
<article class="col-lg-offset-1 col-sm-offset-1 col-lg-8 col-sm-8 col-lg-push-2 col-sm-push-2">
<h2>成功新增一個成績單</h2>
</article>
<aside class="col-lg-2 col-sm-2 col-lg-pull-9 col-sm-pull-9">
       
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/">上傳學生資料</a></li>
              <li><a href="/insert">新增學生成績</a></li>
              <li><a href="/index">修改學生成績</a></li>
              <li><a href="/index4">刪除學生成績</a></li>
              <li><a href="/select">查看學生成績</a></li>
              <li class="active"><a href="/index1">建立成績單</a></li>
            </ul>  
         </aside>
<% include footer %>