<div class="container">
<!-- row 1: navigation -->
    <nav class="row ">
    	<ul class="nav navbar-inverse nav-tabs">
        	<li><a href="/ele">國小文法</a></li>
        	<li class="active"><a href="/jun">國中文法</a></li>  
        </ul>  
    </nav>

    <div class="row">
    	<article class="col-lg-offset-1 col-sm-offset-1 col-lg-8 col-sm-7 col-lg-push-3 col-sm-push-4">
        
        
            <h1>國中文法</h1>
            <h2>國中文法是國小文法的延伸,在小學時我們學過五大基本句型,現在我們將延伸這五大基本句型,讓我們在表達的時候可以更加清楚我們要的時間、地點以及做什麼事。</h2>
                        <!-- nested row 3a: callouts -->
         <!-- end nested row 3a -->
        </article>
        <aside class="col-lg-4 col-sm-4 col-lg-pull-9 col-sm-pull-8">
        <ul class="nav navbar-inverse nav-tabs">
        	<li><a href="/fre">頻率副詞</a></li>
        	<li><a href="/rela">關係代名詞</a></li>
        	<li><a href="/relat">關係代名詞表格</a></li> 
        </ul> 
        </aside> 
</div>