<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link href="/stylesheets/bootstrap.css" rel="stylesheet" />
<link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">
<style>
body{padding-top: 152px;padding-bottom: 200px;}
.container{width:1450px;margin:0 auto;}
</style>
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/">Kevin</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active"><a href="/">首頁</a></li>
					<% if (loginStatus) { %>
						<li><a href="/logout">登出</a></li>
						<li><a href="/newentry">留言板</a></li>
						<li><a href="/board">留言</a></li>
					<% } else{ %>
						<li><a href="/login">登入</a></li>
						<li><a href="/reg">註冊</a></li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
	<header class="bgimage row font">
    	
        </div>
    </header>
</div>

<div id="container" class="container">
	<%- body %>
	<hr />
	<footer class="nav navbar-inverse">
		<p><small>
			Designed by Kevin 2018
		</small>
		</p>
	</footer>
</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</body>
</html>
