<form method="post" role="form" action="newentry">
  <fieldset>
  <legend>留言板</legend>
  <div class="form-group">
    <label for="title">標題</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="輸入標題" required> </div>
<div class="form-group">
<label for="content">文字內容</label>
<textarea class="form-control" id="body" name="body" placeholder="輸入內容" rows="3" required></textarea>
  </div>
  <div class="form-group">
    <input type="submit" value="送出" class="btn btn-primary">
  </div>
  </fieldset>
</form>
