<% include header %>
  <nav class="navbar navbar-inverse  ">
  <ul class="nav navbar-nav">
    <li><a href="/form1">主頁</a></li>
    <li><a href="/form1">上傳</a></li>
    <li class="active"><a href="/insert" >成績管理</a></li>
        <li style="float:right;"><a href="/">登入</a></li>
  </nav>
<h2>Line Bot成績管理</h2>
<script>
</script>
<article class="col-lg-offset-1 col-sm-offset-1 col-lg-8 col-sm-8 col-lg-push-2 col-sm-push-2">
  <form action="/index2" method="post">
  <p align="center"><font face="標楷體" size="10">已修改<font color="red" ><%-data2%></font>同學的成績</font></p>
  <p align="center"><font face="標楷體" size="10">由<font color="red" ><%-data[0].Grade%></font>更改為<font color="red"><%-data1%></font></font></p>
  </form>
</article>
<!-- <iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe> -->
<aside class="col-lg-2 col-sm-2 col-lg-pull-9 col-sm-pull-9">
       
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/form1">上傳學生資料</a></li>
              <li><a href="/insert">新增學生成績</a></li>
              <li class="active"><a href="/index">修改學生成績</a></li>
              <li><a href="/index4">刪除學生成績</a></li>
              <li><a href="/select">查看學生成績</a></li>
              <li><a href="/index1">建立成績單</a></li>
            </ul>  
         </aside>
<% include footer %>