body {
  padding: 50px;
  font: 14px "Standard italics", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}
.itemForm{
	display: none;
}

h1{
	color:black;
	text-align: center;
}

.bgimage{
	background-image:
url("../img/mountain.jpeg");
background-position: center center;
background-size: cover;
height:110px;
}

footer{
color:black;
text-align: right;
}